
/* Mobile responsive  */
@media screen and (max-width: 576px) {
    html{
        font-size: 42%;
   }
   /* nav section */
   nav{
        box-shadow: none;
        padding-top: 4.5rem;
   }
   nav .nav-section, nav ul{
        flex-direction: column;
        gap: 5rem;
   }

   /* banner */
   .banner-section{
    flex-direction: column;
    }
    .banner-section .banner-img{
        width: 100%;
        order: 1;
    }
    .btn-primary{
        justify-content: center;
    }
    .banner-section .banner-heading{
        background-image: url('./images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 6rem 0px;
        width: 100%;
        order: 2;
        text-align: center;
   }
   .banner-text p{
    display: block;
    justify-content: center;
    margin-top: 10px;
    text-align: center;

   }
    /* Online Games section start */
    .online-games-section .online-game-images{
        grid-template-columns: 1fr;
        gap: 2.5rem;
   }
   .game-card-img p{
        text-align: center;
   }
   /* Online Games section end */
   .gamers-container,.instant-play-container,.online-game-container,.career-container{
    flex-direction: column;
    justify-content: center;
    
    }

    .gamers-text,.instant-play-text,.online-game-text{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
     /* suggestion section */
         .suggestion-section{
             padding-top: 2.4rem;
            gap: 1.5rem;
       }
}



/* tablet responsive */
@media screen and (max-width: 768px){
    html{
         font-size: 80%;
    }
   

}