*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font from google font */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans:wght@800&family=Oswald&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}

/* font section end */

/* nav section start */
section{
    padding: 4rem 2rem;
}
.banner-img img{
    width: 100%;
}
nav{
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .nav-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.8rem 1.8rem;
   display:flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
    display:flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.span-g{
    color: #e893cf;
}
.logo p{
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 700;
}
.span-g{
    color: #e893cf;
}

nav ul{
    display:flex;
    gap: 2.8rem;
    align-items: center;
    justify-content: center;
}
ul a{
    text-decoration: none;
    font-size: 1.12rem;
    color: #3C354F;
}
.follow-a{
    display: flex;
    gap: 20px;
    border-radius: 8px;
    border: 0px;
    background: rgba(11, 2, 35, 0.10);
    font-weight: 700;
    padding: 7px 15px;
    color: #3C354F;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.follower-a p{
    font-size: 2.8rem;
    margin-left: 20px;
    font-weight: 700;
}
/* nav section end */




/* banner section start */
.banner-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner-heading, .banner-img{
    width: 50%;
}

.banner-heading p{
    color: #0B0223;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-heading h1{
    font-size: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-heading .banner-text{
    padding: 2rem 0 3rem 0;
}

.banner-text p{
    color: #534C64;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    gap: 10px;
}


.btn-primary{
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 25px;
    border: 0px;
    background: #FF42A5;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-out;
}
.blue2{
    background: #4EC5F7;
    margin-left: 20px;
}



.pink1:hover{
    color: #FF42A5;
    background: white;
    border: 2px solid #FF42A5;
    box-shadow: 4px 4px 10px #4f354c;
    cursor: pointer;
}
.blue2:hover{
    color: #4EC5F7;
    background: #fff;
    border: 2px solid #4EC5F7;
    box-shadow: 4px 4px 10px #353b4f;
    cursor: pointer;
}

/* we are gamers style */
.gamers-container{
    margin-top: 5%;
    padding: 0% 6%;
    display: flex;
    align-items: center;
}

.gamers-img{
    width: 60%;
}

.gamers-img img{
    width: 100%;
}

.gamers-text{
    width: 40%;
    text-align: right;
}
.secondary-heading{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.primary-text-small{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.gamers-quote-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: #534C64;
}

.gamers-text p{
    margin: 5% 0%;
}

.gamers-text h2:last-child{
    font-size: 1.5rem;
    font-weight: 700;
    color:#534C64;
}

.gamers-text button{
    margin-bottom: 5%;
}

/* Online Games section start */
.online-games-section .online-game-title{
    text-align: center;
}
.game-card-img img{
    width: 100%;
    
}
.online-game-title h2{
    color:  #0B0223;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.online-game-title h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 3.5rem;
}
.online-game-title p{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 1rem 0;
    font-weight: 400;
}
.online-games-section .online-game-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 3.4rem;
    gap: 2rem;
}
.game-card-img p{
    color: #534C64;
    font-size: 1.1rem;
    padding-top: 2rem;
    font-weight: 500;
    line-height: 2.4rem; 
}

/* Online Games section end */
/* 04 Play Instantly start */

.play-instantly-section .play-instantly-title{
    width: 50%;
}
.play-instantly-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}
.play-instantly-section .play-instantly-images{
    text-align: right;
    width: 50%;
}
.play-instantly-images img{
    width: 50%;
    
}

.play-instantly-images{
    position: relative;

}
.short-images{
    position: absolute;
    bottom: -10%;
    left: -30%;
}
.play-instantly-images > img{
    width: 90%;
}

.play-instantly-title h2{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem; 
}
.play-instantly-title h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    background-clip: text;
}
.play-instantly-title p{
    color:#534C64;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 

}

/* 04 Play Instantly end */

/*suggestion section start */
.btn-group{
    display:flex;
    flex-wrap: wrap;
    gap: 1.9rem;
}
.suggestion-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    padding-top: 3.5rem;
}
.suggestion-child{
    display:flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: .6rem;
    gap: 1rem;
    background: #f7f6f6;
    border-radius: 4rem;
}
.suggestion-child:hover{
    outline: 2px solid #fc349b;
    color: #fc349b;
}

.suggestion-child img{
    width:3.5rem;
    height:3.5rem;
}
.suggestion-child p{
    color: #34323a;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: normal;
}
/* suggestion section end */

/* footer section start */

footer{
    background: #34323a;
    padding: 4rem auto;
}
.footer-section{
    text-align: center;
}
.footer-logo{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.category{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.4rem;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3rem 0;
}
.copyright p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.socle{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    font-size: 2.2rem;
    color: #FFF;
}
.footer-logo p{
    color: #FFF;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
}
.Privacy-Policy1{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: normal;
    padding: 3rem 0;
}


/* footer section end */
